@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container1 {
    background-color: #95b2ff;
    background-size: cover;
    padding: 20px;
    flex-wrap: wrap;
}

.bg-container2 {
    background-color: #ffffff;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    height: 80vh;
    overflow: auto;
}

.hed {
    text-align: center;
    color: #12022f;
    font-size: 10px;
    font-family: "Roboto";
    font-weight: bold;
}

.para {
    text-align: center;
    color: #12022f;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}

.img {
    margin: 10px;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.image1 {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-sm-bg.png');
}

.image2 {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-coffee-bg.png');
}

.image3 {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-fruits-bg.png');
}

.image4 {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-nature-bg.png');
}

.image5 {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-interior-bg.png');
}

.image6 {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-sm-bg.png');
}

h1 {
    /* text-align: center; */
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto";
    /* font-weight: bold; */
}

.button {
    color: #ffffff;
    font-size: 10px;
    font-family: "Roboto";
    background-color: transparent;
    border-color: #ffffff;
}

@media (min-width:768px)and (max-width:1200px) {
    .img {
        height: 150px;
        width: 500px;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .image1 {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-lg-bg.png');
    }

    .image {
        display: flex;
        flex-wrap: wrap;
    }

    .image6 {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-lg-bg.png');
    }
}

@media (min-width:1200px) {
    .img {
        height: 150px;
        width: 500px;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .image1 {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-marketing-strategies-lg-bg.png');
    }

    .image {
        display: flex;
        flex-wrap: wrap;
    }

    .image6 {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/popular-blog-laptop-lg-bg.png');
        order: 1;
    }
}
